$primary: #B3C8FC;
$primary-light: #E6FBFF;
$primary-dark: #8297C9;

$secondary:#593FCC;
$secondary-light:#8F6CFF;
$secondary-dark:#14149A;

.light{
  
    --theme-page-background:#ffffff;
    --theme-root-background:#ffffff;
    --theme-text: #3F3857;
}

.dark {
    --theme-page-background:#514A69;
    --theme-root-background: #3F3857;
    --theme-text: #E6FBFF;
}

.form-register {
    background: #ffffff;
    padding: 30px !important;
    margin: auto ;
    margin-top: 40px;
    border-radius: 10px;
    color: rgb(8, 8, 8);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 60px 0 rgba(0,0,0,0.3);
}
  

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}



//============================== FOOTER =====================================
.footer{
    height: 100px;
    // background-color: azure;
    color: black;
}


@media (max-width) {
    .cont-tabla{
        overflow-x: scroll !important;
    }
}


/* MODEL FORM */
h1{
    color: $secondary-dark
}

h4, h5, h6{
    color: $secondary
}

.modalForm .modal-content{
    border-radius: 12px !important;
    border-style: solid !important;
    border-width: 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    padding: 25px;
    background: transparent;
   
}

.modalForm{
    background-color: var(--theme-page-background);
    color: var(--theme-text)
}

#imagen .MuiButton-outlinedPrimary{
    border: 1px dashed #CCCCCC;
    box-sizing: border-box;
    border-radius: 12px;
    width: 462px;
    height: 130px;
}

.form-control{
    background-color: transparent !important;
    border-color: var(--theme-text);
}


.MuiButton-containedPrimary{
    background: $secondary !important;
    border-radius: 4px !important;
}
/* MODEL FORM */

.main{
    background-color: var(--theme-root-background);
    min-height: 100vh;
}