$primary: #B3C8FC;
$primary-light: #E6FBFF;
$primary-dark: #8297C9;

$secondary:#593FCC;
$secondary-light:#8F6CFF;
$secondary-dark:#14149A;



.form-register {
    background: #ffffff;
    padding: 30px !important;
    margin: auto ;
    margin-top: 40px;
    border-radius: 10px;
    color: rgb(8, 8, 8);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 60px 0 rgba(0,0,0,0.3);
}
  

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}



//============================== FOOTER =====================================
.footer{
    height: 100px;
    // background-color: azure;
    color: black;
}


@media (max-width) {
    .cont-tabla{
        overflow-x: scroll !important;
    }
}


/* FILTER CARDS STYLES */

.filtercard{
    background: #FBFBFB;
    border-radius:12px !important;
    text-align: left;
    justify-content: start !important;
    padding: 12px 20px !important;
    align-items: center;
}


.filtercard h5{ 
    color: $secondary !important;
    font-weight: 700;
    font-size:0.875rem;
    text-transform: none;
    margin-bottom:.3rem;
}


.filtercard h6{
    font-size: 0.813rem;
    color: $primary-dark;
    text-transform: none;
    margin:0px;
    text-transform: none;
    margin:0px;
}

.filtercard .counter{
    color: #428E1E !important;
    text-transform: none;
    margin:0px;
}
/* END OF FILTER CARDS STYLES*/

/* MODEL FORM */
h1{
    color: $secondary-dark
}

h4, h5, h6{
    color: $secondary
}

.modalForm .modal-content{
    border-radius: 12px !important;
    border-style: solid !important;
    border-width: 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    padding: 25px;
}

#imagen .MuiButton-outlinedPrimary{
    border: 1px dashed #CCCCCC;
    box-sizing: border-box;
    border-radius: 12px;
    width: 462px;
    height: 130px;
}

input{
    background-color: transparent !important;
}

.MuiButton-containedPrimary{
    background: $secondary !important;
    border-radius: 4px !important;
}
/* MODEL FORM */